@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* start general code */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.float-items {
    float: left;
}

.clearfix{
    clear: both;
}
ul li {
    list-style: none;
    color: white;
    display: inline-block;
    font-size: 20px;
    padding-right: 20px;
}
a{
    text-decoration: none;
}
/* end general code */
/* start navbar header */
.header .container {
    background-image: url("../imgs/header_background.jpg");
    height: 110vh;
    background-size: cover;
}
.header .container .navbar {
    padding-top: 35px;
    position: fixed;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: pink;
}
.header .container .navbar .logo {
    width: 58%;
    padding-left: 80px;
    margin-top: -15px;
    
}
.header .container .navbar .nav-link{
    width: 42%;
}
.header .container .navbar .nav-link li{
    cursor: pointer;
}
.header .container .navbar .nav-link li:hover{
    color:rgb(248, 106, 106);
}
.header .container .navbar .logo img{
    width: 150px;
    
}
/* end navbar header */
/* start containt header*/
.header .container .sidebar{
    position: fixed ;
    top: 200px;
    right: 0px;
    width: 40px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    
}
.header .container .sidebar a{
    color: #666;
    position: absolute;
    top:65%;
    left: 25%;
}
.header .container .sidebar a:hover{
    color: #0275d8;
}

.header .container .sidebar .demo{
    top: 15%;
}
.header .container .sidebar .shop{
    top:65%;
}

.header .container .header-containt {
    text-align: center;
    line-height: 40px;
    
}
.header .container .header-containt h1{
    
    color: white;
    font-size: 80px;
    padding: 40px 0px;
    font-family: 'Alegreya', serif;
    font-weight: normal;
}
.header .container .header-containt p{
    
    color: rgba(255,255,255, .92);
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 50px;
}
.header .container .header-containt .links-button .learn,
.header .container .header-containt .links-button .visit{
    padding: 17px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Alegreya', serif;
}
.header .container .header-containt .links-button .learn{
    background-color:#c1ab84;
    color: white;
    margin-right: 5px;
}
.header .container .header-containt .links-button .learn:hover{
    color:black;
    background-color: white;
}
.header .container .header-containt .links-button .visit{
    background-color:white;
    color: black;
    margin-left: 5px;
    font-weight: bold;
    
}
.header .container .header-containt .links-button .visit:hover{
    background-color:#e6e6e6;
}
/* end containt header*/
/* start about */
.aboutResturent .container{
    width: 80%;
    margin: 80px auto;
}
.aboutResturent .container .chef {
    width: 45%;
}
.aboutResturent .container .about-containt {
    width: 55%;
    padding-top: 100px;
    padding-left: 50px;
}
.aboutResturent .container .about-containt h2{
    color: #253048;
    font-size: 36px;
    font-family: 'Alegreya', serif;
    padding-bottom: 15px;
    font-weight: normal;
}
.aboutResturent .container .about-containt .span{
    color: #c1ab84;
    font-size: 28px;
    padding-bottom: 20px;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
}
.aboutResturent .container .about-containt p{
    font-size: 18px;
    line-height: 30px;
    color: rgba(104, 104, 104, 0.8);
    font-family: 'Alegreya', serif;
    padding-bottom: 30px;
}
.aboutResturent .container .about-containt .icons{
    position: relative;
}
.aboutResturent .container .about-containt .icons .leaf-icon{
    position: absolute;
    top: 0px;
}
.aboutResturent .container .about-containt .icons .people-icon{
    position: absolute;
    top: 70px;
}
.aboutResturent .container .about-containt .icons .heart-icon{
    position: absolute;
    top: 140px;
}
.aboutResturent .container .about-containt .icons .tic-icon{
    position: absolute;
    top: 210px;
}
.aboutResturent .container .about-containt .icons span{
    color:rgba(37, 48, 72, 0.7);
    font-size: 18px;
    font-family: 'Alegreya', serif;
    display: inline-block;
    padding: 10px;
}
.aboutResturent .container .about-containt .icons div i{
    
    background-color: #c1ab84;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    
}
/* end about */
/* start review */
.review .container {
    padding: 140px 0px 100px 80px;
    background-color: #f8f8f8;
}
.review .container .review-contant{
    width: 48%;
    padding-right: 90px;;
}
.review .container .review-contant h2{
    color: #253048;
    font-size: 36px;
    font-family: 'Alegreya', serif;
    padding-bottom: 15px;
    font-weight: normal;
}
.review .container .review-contant span{
    color: #c1ab84;
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 50px;
    display: inline-block;
}
.review .container .review-contant p{
    
    font-size: 18px;
    line-height: 30px;
    color: rgba(104, 104, 104, 0.8);
    font-family: 'Alegreya', serif;
    padding-bottom: 30px;
}
.review .container .review-contant .reviwers-opinion .opinion i{
    display: inline-block;
    color: #c1ab84;
}
.review .container .review-contant .reviwers-opinion .opinion span{
    
    color:rgba(37, 48, 72, 0.7);
    font-size: 18px;
    font-family: 'Alegreya', serif;
    padding-left: 10px;
    padding-bottom: 20px;
    display: inline-block;
}
.review .container .review-img{
    width: 50%;
}
.review .container .review-img img{
    width: 90%;
}
/* end review */
/*start resturent img*/
.resturent-img .container{
    background-image: url("../imgs/resturent.jpg");
    background-position: center center;
    background-size: cover;
    height: 450px;
    
}
/*end resturent img*/
/*start dishes*/
.dishes .container{
    text-align: center;
    padding: 60px 0px;
    background-color: #f8f8f8;
}
.dishes .container h2{
    color: #253048;
    font-size: 36px;
    font-family: 'Alegreya', serif;
    padding-bottom: 20px;
    font-weight: normal;
}
.dishes .container h3{
    color: #c1ab84;
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 40px;
    font-weight: normal;
}
.dishes .container .menu{
    padding-bottom: 50px;
    padding-left: 40px;
}
.dishes .container .menu .float-items{
    width: 31%;
    padding-left:40px;
}
.dishes .container .menu .float-items img{
    width: 100%;
    padding-bottom: 20px;
}
.dishes .container .menu .float-items h4{
    color: #253048;
    font-size: 21px;
    font-family: 'Alegreya', serif;
    padding-bottom: 20px;
    font-weight: normal;
}
.dishes .container .menu .float-items p{
    color: rgba(37, 48, 72, 0.7);
    font-size: 18px;
    font-family: 'Alegreya', serif;
    padding-bottom: 60px;
    line-height: 30px;
}
.dishes .container a{
    text-transform: capitalize;
    background-color: #c1ab84;
    color: white;
    border-radius: 5px;
    font-family: 'Alegreya', serif;
    font-size: 16px;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    
}
/*end dishes*/
/* start map */
.map .container {
    padding: 100px 30px 150px 80px;  
}
.map .container .map-contant{
    width: 50%;
    padding-right: 70px;
}
.map .container .map-contant h2{
    color: #253048;
    font-size: 36px;
    font-family: 'Alegreya', serif;
    padding-bottom: 20px;
    font-weight: normal;
}
.map .container .map-contant p{
    
    font-size: 18px;
    font-family: 'Alegreya', serif;
    padding-bottom:20px ;
    line-height: 30px;
    color: rgb(104, 104, 104,0.9);
}
.map .container .map-contant .map-details{
    position: relative;
}
.map .container .map-contant .map-details .map{
    position: absolute;
    top: 0px;
}
.map .container .map-contant .map-details .phone{
    position: absolute;
    top: 70px;
}
.map .container .map-contant .map-details .headphones{
    position: absolute;
    top: 140px;
}
.map .container .map-contant .map-details .envelope{
    position: absolute;
    top: 210px;
}
.map .container .map-contant .map-details div i{

    background-color: #c1ab84;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    
}
.map .container .map-contant .map-details div span{
    color: rgba(104, 104, 104,0.9); 
    font-family: 'Alegreya', serif; 
    font-size: 18px;
    display: inline-block;
    padding-left: 10px;
}
.map .container .map-frame{
    width: 44%;
}
.map .container .map-frame iframe{
    width: 100%;
}
/* end map */
/* start about */
.about .container {
    background-color: #403d38;
    padding :60px 80px 30px 80px; 
}
.about .container .about-us,
.about .container .links,
.about .container .hours{
    width: 25%;
    padding-right: 30px;
}
.about .container h3{
    color: white;
    padding-bottom:30px ;
    font-weight: normal;
    font-family: 'Alegreya', serif; 
}
.about .container .about-us p{
    font-size: 16px;
    color: #969696;
    padding-bottom:30px ;
    line-height: 30px;
    font-family: 'Alegreya', serif; 

}
.about .container .links a,
.about .container .hours a,
.about .container .contact .contact-details .details{
    display: block;
    color: #969696;
    padding: 20px 0px;
}
.about .container .links a i,
.about .container .hours a i,
.about .container .contact .contact-details .details i{
    padding-right: 5px;
}
.about .container .links .about-link,
.about .container .links .menu-link,
.about .container .links .contact-link,
.about .container .hours .monday,
.about .container .hours .tuesday,
.about .container .hours .wednesday,
.about .container .hours .thursday,
.about .container .hours .friday,
.about .container .contact .contact-details .with-border{
    border-bottom: solid 1px rgba(150, 150, 150, 0.2);
}

.about .container .contact .contact-details .details a{
    color: #969696;
}
.about .container .contact .contact-details .details{
    position: relative;
    z-index: 1;
}
.about .container .contact{
    width: 20%;
}
/*.about .container .contact{
    width: 20%;
    background-image: url("../imgs/map.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: 120px;
    position: relative; 
}
.about .container .contact .overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}*/
/* end about */
/*start footer*/
.footer .container{
    background-color: rgba(27, 27, 27, 0.1);
    color: #797979;
    text-align: center;
    
    
}
.footer .container p{
    font-size: 18px;
    padding: 30px 0px;
    font-family: 'Alegreya', serif;
}
.footer .container{
    background-color: rgba(27, 27, 27, 0.95);
    color: #797979;
    text-align: center;
    padding: 100px 0px;
}
.footer .container .links{
    
    position: relative;
    
}
.footer .container .links a{
    background-color: #484540;
    color:#797979 ;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    display: inline-block;
}
.footer .container .links .facebook-link{
    left: 39%;
    position: absolute;
}
.footer .container .links .instagram-link{
    left: 44.5%;
    position: absolute;    
}
.footer .container .links .tumblr-link{
    left: 50%;
    position: absolute;
}
.footer .container .links .twitter-link{
    left: 55.5%; 
    position: absolute;   
}
/*end footer*/
